################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.DS_Store

# Dev
node_modules/

# Interne Doku/Planung – bleibt lokal, nicht auf GitHub
Documentation/
